[submodule "collections/ansible_collections/ibm/storage_virtualize"]
	path = collections/ansible_collections/ibm/storage_virtualize
	url = https://github.com/ansible-collections/ibm.storage_virtualize.git
